---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-clickhouse-com-v1alpha1-keepercluster
  failurePolicy: Fail
  name: mkeepercluster.kb.io
  rules:
  - apiGroups:
    - clickhouse.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - keeperclusters
  sideEffects: None
