path: {{ .Path }}
logger:
{{ yaml .Log | indent 2 }}

distributed_ddl:
  path: {{ .DistributedDDLPath }}
  profile: {{ .DistributedDDLProfileName }}
user_directories:
  users_xml:
    path: {{ .UsersXMLPath }}
  replicated:
    zookeeper_path: {{ .UsersZookeeperPath }}
user_defined_zookeeper_path: {{ .UDFZookeeperPath }}

{{- /* SSL settings */}}
openSSL:
{{ yaml .OpenSSL | indent 2 }}

{{- /* Special settings, required for default config */}}
display_secrets_in_show_and_select: true
custom_settings_prefixes: custom_
