path: {{ .Path }}
logger:
{{ yaml .Log | indent 2 }}
macros:
  {{- range $i, $m := .Macros }}
  {{ $m.Name }}: {{ $m.Value }}
  {{- end }}

{{- /* Replication settings */}}
zookeeper:
  nodes:
    {{- range $index, $node := .KeeperNodes }}
    - host: {{ $node.Host }}
      port: {{ $node.Port }}
      {{- if $node.Secure }}
      secure: 1
      {{- end }}
    {{- end }}
  identity:
    "@from_env": {{ .KeeperIdentityEnv }}

remote_servers:
  default:
    secret:
      "@from_env": {{ .ClusterSecretEnv }}
    shard:
    {{- $ctx := .}}
    {{- range $shard, $replicas := .ClusterHosts }}
      - internal_replication: true
        replica:
        {{- range $i, $replica := $replicas }}
          - host: {{ $replica }}
            port: {{ $ctx.ManagementPort }}
        {{- end }}
    {{- end }}

distributed_ddl:
  path: {{ .DistributedDDLPath }}
  profile: {{ .DistributedDDLProfileName }}
user_directories:
  users_xml:
    path: {{ .UsersXMLPath }}
  replicated:
    zookeeper_path: {{ .UsersZookeeperPath }}
user_defined_zookeeper_path: {{ .UDFZookeeperPath }}

{{- /* SSL settings */}}
openSSL:
{{ yaml .OpenSSL | indent 2 }}

{{- /* Special settings, required for default config */}}
display_secrets_in_show_and_select: true
