macros:
  {{- range $i, $m := .Macros }}
  {{ $m.Name }}: {{ $m.Value }}
  {{- end }}

{{- /* Replication settings */}}
zookeeper:
  nodes:
    {{- range $index, $node := .KeeperNodes }}
    - host: {{ $node.Host }}
      port: {{ $node.Port }}
      {{- if $node.Secure }}
      secure: 1
      {{- end }}
    {{- end }}
  identity:
    "@from_env": {{ .KeeperIdentityEnv }}

remote_servers:
  default:
    secret:
      "@from_env": {{ .ClusterSecretEnv }}
    shard:
    {{- $ctx := .}}
    {{- range $shard, $replicas := .ClusterHosts }}
      - internal_replication: true
        replica:
        {{- range $i, $replica := $replicas }}
          - host: {{ $replica }}
            port: {{ $ctx.ManagementPort }}
        {{- end }}
    {{- end }}

{{- /* Named collections managed by the operator */}}
named_collections:
  {{- range .NamedCollections }}
  {{ .Name }}:
    {{- range .Values }}
    {{ .Key }}: {{ .Value }}
    {{- end }}
  {{- end }}
