listen_host: "::"
{{- /* can't use composable protocol for interserver, because server disables replication,
      if interserver_http_port is not set */}}
interserver_http_port: {{ .InterserverHTTPPort }}
interserver_http_credentials:
  user: {{ .InterserverHTTPUser }}
  password:
    - "@from_env": {{ .InterserverHTTPPasswordEnvVar }}
  allow_empty: false

{{- /* use default tcp_port as management to use it in distributed queries */}}
tcp_port: {{ .ManagementPort }}

protocols:
{{- range $protocol := .Protocols }}
  {{ $protocol.Name }}:
    type: {{ $protocol.Protocol.Type }}
    {{- if ne $protocol.Protocol.Impl "" }}
    impl: {{ $protocol.Protocol.Impl }}
    {{- end }}
    {{- if ne $protocol.Protocol.Port 0 }}
    port: {{ $protocol.Protocol.Port }}
    {{- end }}
    {{- if ne $protocol.Protocol.Description "" }}
    description: {{ $protocol.Protocol.Description }}
    {{- end }}
{{- end }}

{{- /* disable the following ports that may overlap ports with composable protocols */}}
tcp_port_secure:
  '@remove': '1'
http_port:
  '@remove': '1'
https_port:
  '@remove': '1'
mysql_port:
  '@remove': '1'
postgresql_port:
  '@remove': '1'
tcp_with_proxy_port:
  '@remove': '1'
tcp_ssh_port:
  '@remove': '1'
