users:
  default:
    profile: {{ .DefaultProfileName }}
    quota: default
    {{- if .DefaultUserPasswordEnv }}
    {{ .DefaultUserType }}:
      - '@from_env': {{ .DefaultUserPasswordEnv }}
    {{ else }}
    no_password:
    {{ end}}
    grants:
      - query: "GRANT ALL ON *.*"
  {{ .OperatorUserName }}:
    profile: {{ .DefaultProfileName }}
    quota: default
    password_sha256_hex: {{ .OperatorUserPasswordHash }}
    grants: {{/* TODO restrict */}}
      - query: "GRANT ALL ON *.*"
profiles:
  {{ .DefaultProfileName }}:
    log_queries: 1
quotas:
  default:
