name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Go Tidy
        run: go mod tidy && git diff --exit-code

      - name: Go Mod
        run: go mod download

      - name: Go Mod Verify
        run: go mod verify

      - name: Check controller-gen generated
        run: make generate && git diff --exit-code

      - name: Check manifests generated
        run: make manifests && git diff --exit-code

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1

      - name: Build
        run: go build -v cmd/main.go

      - name: Run tests
        run: |
          go list ./... | grep -v /e2e
          make test-ci
